<!DOCTYPE html>
<html>

<head>
    <title>Register - SGR</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="auth-box">
        <h2>Đăng ký</h2>

        <form method="POST" action="/register">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Đăng ký</button>
        </form>

        <a href="/">Quay lại đăng nhập</a>
    </div>

</body>

</html>