body {
    font-family: Arial;
    background: #f9f9f9;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.section {
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 8px;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.auth-box {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    text-align: center;
}

.auth-box input {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

.auth-box button {
    width: 100%;
    padding: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
}